{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
	{% if app.user %}
		<div>
			Bonjour
			{{ app.user.email }}
			<a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	{% else %}
		<div>
			<a class="btn btn-sm btn-primary" href="{{ path('app_register') }}">S'inscrire</a>
			<a class="btn btn-sm btn-success" href="{{ path('app_login') }}">Se connecter</a>
		</div>
	{% endif %}
	<div class="">
		<div class="">
			<div class="">
				<p class="">Ceci est une démo de React dans une application Symfony</p>
				<p class="">Ceci est une démo de React dans une application Symfony</p>
				<div {{ react_component('MyComponent', { 'fullName': 'YoanDev' } ) }}></div>
				<div {{ react_component('Mybutton') }}></div>

			</div>
		</div>
	</div>
	{% if is_granted('ROLE_USER') %}
		Role User
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		Role Admin
	{% endif %}

        

{% endblock %}
