<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div {{ react_component('Navbar', { 'LinkBrand': path('admin'), 'LinkHome': path('app_home'), 'LinkSignOut': path('app_logout'), 'LinkArticleShow': path('app_home_articles'), 'LinkAdmin': path('admin') } ) }}></div>
    <div id="header"> </div>

    <main class="mb-5">
        {% block body %}
        <div class="row">
            <section class="col-10 m-0 p-0">
                <div id="article-list">
                    {% include 'article/list.html.twig' with { articles } %}
                </div>
            </section>
            <section class="col-2 bg-blue  m-0">
                {% include "widget/categories.html.twig" %}
            </section>
        </div>
        {% endblock %}
{% else %}
    <div {{ react_component('NavbarConnect', { 'LinkAdmin': path('admin'), 'LinkSignIn': path('app_login'), 'LinkSignUp':path('app_register'), 'LinkHome': path('app_home'), 'LinkArticleShow': path('app_home_articles') } ) }}></div>
    <div id="header"> </div>
    <main>
    </main>
{% endif %}

{# <div {{ react_component('Header', {'LinkSignIn': path('app_login'), 'LinkSignUp':path('app_register')} )}}></div> #}



            
</main>
		<div {{ react_component('Footer')}}></div>

<div id="footer"> </div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
