{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<div class='pb-5 mb-5'>
		<article>
			<div class="container">
				<section class="py-5">
					<div class="container px-5 my-5">
						<div class="row gx-5">


							<div {{ react_component('Article', { 'articleTitle': article.title, 'articleCategory': article.categories,'articleImage': "/media/" ~ article.featuredImage.filename, 'articleContent' : article.content, 'articleDate' : article.createdAt|date('d M Y'), 'articleComments' : article.comments|length } ) }}></div>
							{# <div {{ react_component('Article', { 'article': article} ) }}></div> ça ne marche pas pour l'instant#}


							<div id="root"></div>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<div class="comment-area col-10 offset-1">
									{{ form(commentForm, {attr:{class:'comment-form'} }) }}
									</div>
								{% endif %}


								<div class="comment-list col-10 offset-1">
									{% for comment in comments %}
										{% include 'comment/index.html.twig' with [comment] %}
									{% endfor %}
								</div>

								{# <script>
									var articleData = {{ article|json_encode|raw }};
								</script>
								<script src="./assets/app.js"></script> #}


							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
	</div>


{% endblock %}
